.botoes-landing-page {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

#botao_logon {
    margin-right: 30px;
}

#prateleira1 {
    width: 1280px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#prateleira2 {
    width: 405px;
    height: auto;
}

#botao-criar-prateleira {
    margin: 20px 0;
}

.lista-depoimentos {
    display: flex;
    justify-content: space-between;
}